@charset "EUC-KR";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Roboto;
	font-style: normal;	
	font-weight: normal;
	padding: 10px;
}
.redb{
	font-weight: bold;
	color: #EB5757;
}
.blueb{
	font-weight: bold;
	color: #2F80ED;
}
.noneb{
	font-weight: bold;
	color: black;
}

.table_border{
	border-collapse: collapse;
	border: 1px solid black;
}
.table_border th{
	border: 1px solid black;
}
.table_border td{
	border: 1px solid black;
}
.ftinput{
	width: 50px;
}
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}
.volumeSelected{
	background-color: #FFFFD7;
}

.two-step-table{
	display: flex;
}
.leftside{
	padding-right: 5px;
}

.renewed{
	background-color: #B7F0B1;
}

/* 신규 디자인 */
nav{
/* 	height: 100px; */
}
form{
 	margin-block-end : 0em;	/* 기본적으로 왜 들어가 있지? */
}
header{
	width: 1140px;
	height: 125px;
}
article{
	margin-top: 20px;	
}
#header_wrap{
	float: left;
}
#header_top{
	height: 50px;
/* 	background-color: #E0E0E0; */
	border-bottom: 2px solid #E0E0E0;
	margin-bottom: 5px;
}
#header_top h1{
	position: absolute;
}
.userInfo{
	width: 300px;
	height: 50px;
	margin-left: 10px;
	float:right;
}
#mo_kakao_adfit{
	position: relative;
	width: 320px;
	height: 175px;
	padding-left: 5px;
	float:right;
}
#mo_kakao_adfit ins{
	display:block;
	width: inherit;
	height: inherit;
	background-color: #EB5757;
}
#data_tables{
	border-top: 2px solid #E0E0E0;
	border-bottom: 2px solid #E0E0E0;
}
#data_tables .table_row:nth-child(even){
	background-color: #fafafa;
}
.table_row{
	-ms-display:flexbox;	/* IE 10 */
	display:-webkit-flex;	/* Safari */
	display:flex;
}
.table_row > div{
	margin : 0 5px;
}
.row{
 	-ms-display:flexbox;	/* IE 10 */
	display:-webkit-flex;	/* Safari */
	display:flex;
	justify-content: space-between;
}
.left{
	float:left;
}
.right{
	float:right;
}
.horizontal_line{
	margin: 8px 0;
	height: 2px;
	background-color: #E0E0E0;
}
.vertical_line{
	display: inline-block;
/* 	height: 100%; */
	width: 2px;
	background: #C4C4C4;
}

/* sptxt */
.sptxt1{
	font-size: 11px;
	line-height: 13px;
	color: #828282;
}
.sptxt2{
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #333333;
}

.sptxt3{
	font-size: 12px;
	line-height: 14px;
	color: #333333;
}
.sptxt4{
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
}
.sptxt5{
	font-size: 11px;
	line-height: 13px;
	color: #828282;
}
.sptxt6{
	font-size: 12px;
	line-height: 14px;
	color: #BDBDBD;
}
.sptxt7{
	font-size: 12px;
	line-height: 14px;
	color: #333333;
}
.sptxt8{
	font-size: 12px;
	line-height: 14px;
	color: #333333;
}
.sptxt9{
	font-size: 11px;
	line-height: 13px;
	color: #4F4F4F;
}
.sptxt10{
	font-size: 12px;
	line-height: 14px;
}
.info_a,.info_b,.info_financial{
	padding-top: 10px;
}
.info_a{
	min-width: 200px;
}
.info_a .row:first-child{
	margin-bottom: 15px;
}
.info_a .row:last-child{
	margin-top: 15px;
}
.naver_detail_link{
	text-decoration: none;
	color: #03c75a;
	line-height:3;
	padding: 6px 10px;
	border: 1px solid #03c75a;
}
.daum_detail_link{
	text-decoration: none;
	color: #0089ff;
	line-height:3;
	padding: 6px 10px;
	border: 1px solid #0089ff;
}

.info_b{
	min-width: 200px;
}
.info_financial{
	min-width: 322px;
}
.info_financial > table{
	font-size: 12px;
	line-height: 14px;
	color: #333333;
}
.info_financial > table  td{
	width: 60px;
}
.info_volume_header{
	position: relative;
    margin-top: -37px;
    padding: 8px 0;
    text-align: center;
}
.info_volume_header > .row > span{
	color: #4F4F4F;
	width: 280px;	
}
.icon{
	display: inline-block;
    vertical-align: middle;
/*     margin-top: -.25em; */
	margin-top: 0.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.icon-star{
	background-image:url("../images/star.png");
	width: 20px;
	height: 20px;
}
.icon-star.checked{
	background-image:url("../images/star_chk.png");
}
.icon-pin{
	background-image:url("../images/pin.png");
	width: 20px;
	height: 20px;
}
.icon-pin.checked{
	background-image:url("../images/pin_chk.png");
}

/* 수정 2021.02.03 */
.red{
	color: #EB5757;
}
.blue{
	color: #2F80ED;
}
.none{
	color: #333333;
}
/* .active{ */
/* 	font-weight: bold; */
/* } */
.goodprice{
	background-color: #FFEB83;
}
.bestroe{
	background-color: #27AE60;
}
.goodroe{
	background-color: #BB6BD9;
}

/* Search */
#searchOption{
	font-size: 14px;
	line-height: 16px;
	width: 820px;
/* 	float: left; */
}
#searchOption .row{
	height: 38px;
	margin-bottom: 5px;
	display:block;
}
#searchOption select{
	padding: 8px;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
	color: #4F4F4F;
	font-family: Roboto;
	font-style: normal;	
	font-size: 14px;
	line-height: 16px;
}
#searchOption input[type=checkbox]{
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
    top: 1px;
}
#sortVolumeOption{
	display:inline;
}

#code{
	/* 	color: #828282; */
	font-family: Roboto;
	font-style: normal;
	font-size: 14px;
	line-height: 16px;
	width: 470px;
	height: 38px;
	position: relative;
	padding: 9px;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
}
.searchBtn{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	border: none;
	width: 160px;
	padding: 11px;
	position: relative;
	top: -1px;
	background-color: #2F80ED;
}


/* Paging */
#paging_wrap{
	min-width: 510px;
	height: 37px;
}
#paging_wrap a{
	padding: 6px 10px;
	line-height: 3.5;
	border: 1px solid #E0E0E0;
	text-decoration: none;
	
	color: #4F4F4F;
    font-size: 11px;
}
#paging_wrap a.active{
	background-color: #4F4F4F;
	border: 1px solid #4F4F4F;
	color: white;
	font-weight: bold;
}
#paging_wrap a:not(.active):hover{
	background-color: #E0E0E0;
}

.in_form1{
	font-family: Roboto;
	font-style: normal;
	font-size: 14px;
	line-height: 16px;
	padding: 9px;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
}
.in_btn1{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	border: none;
	background-color: #2F80ED;
}
/* Sign Form */
.sign_wrap{
	width: 470px;
	margin: 0 auto;
	padding-top: 150px;
}
.sign_wrap .sign_top{
	border: 0px;
	text-align: center;
}
.sign_form{
	margin-top: 20px;
	width: 470px;
}
.sign_form li{
	list-style: none;
}
.sign_input .in_form1{
	width: 470px;
	height: 50px;
	position: relative;
	padding: 9px;
	margin-bottom: 10px;
}

.sign_btn .in_btn1{
	width: 470px;
	height: 50px;
	padding: 11px;
	position: relative;
	top: -1px;
}
.sign_form .horizontal_line{
	margin-top: 20px;
	margin-bottom: 20px;
}
.social_btn .in_btn1 {
	width: 232px;
	height: 50px;
	position: relative;
	padding: 9px;
	margin-bottom: 10px;
}
.sign_auto{
	padding-top: 9px;
}
.sign_auto input[type=checkbox]{
	margin-right: 5px;
	position: relative;
	top: 1px;
}
.sign_etc{
	text-align: center;
}
.sign_etc a{
	text-decoration: none;
	color: #4F4F4F;
	font-weight: bold;
}
.in_btn1.kko{
	font-weight: bold;
	background-color: #ffd632;
}
.in_btn1.ggl{
	color: #4F4F4F;
	font-weight: bold;
	background-color: #ffffff;
	border: 1px solid #4F4F4F;
}
.in_btn1.nav{
	font-weight: bold;
	background-color: #48c12f;
}
.in_btn1.fab{
	font-weight: bold;
	background-color: #3155af;
} 